#############################
#
# This server is managed by ansible
# please contect {{system_owner}}
# Sytem total memory: {{ansible_facts['memtotal_mb']}} MiB.
# Sytem prcessor count: {{ansible_facts['processor_cores']}} . 
#
#############################
