###
The hostname is {{ ansible_facts['fqdn'] }}
My Linux distribution id {{ ansible_facts['distribution'] }}
	and version is {{ ansible_facts['distribution_version'] }}
If you have any any question contect with {{ system_owner }}
